# import geojson_geometries to jupyter_gmaps

In [1]:
import gmaps
import json
import gmaps.datasets
gmaps.configure(api_key='AIzaSyAf78InaIO0UeRMhOOKpELH6cSKDUA6hwo')
with open('C:/Users\leiji\OneDrive - HKU\Desktop\Data Science Lab\DS Project\Boundaries - Police Beats (current)\Boundaries - Police Beats (current).geojson') as f:
    geometry = json.load(f)
    
fig = gmaps.figure()
geojson_layer = gmaps.geojson_layer(geometry)
fig.add_layer(geojson_layer)
fig

Figure(layout=FigureLayout(height='420px'))

# Add heatmap to geojson_layer

In [20]:
import pandas as pd

In [21]:
Crime2019_df= pd.read_csv('C:/Users\leiji\OneDrive - HKU\Desktop\Data Science Lab\DS Project\Crimes_from2010_violent_crime.csv')
Crime2019_df.head(5)

,Case_Number,IUCR,Arrest,Domestic,Beat,Year,Latitude,Longitude,Violent_Crime,PRIMARY_DESCRIPTION,...,High,Low,Close,Adj_Close,Volume,Average_of_OpenClose,unemployment,employment,labor,Count
0,HY411610,0560,0,1,1522,2015,41.881903,-87.755121,1,ASSAULT,...,4712.66,4657.81,4683.91,4683.91,1.574720e+09,4677.13,254350.0,4588634.0,4842984.0,1
1,HY411654,0320,0,1,1222,2015,41.882814,-87.704326,1,ROBBERY,...,4712.66,4657.81,4683.91,4683.91,1.574720e+09,4677.13,254350.0,4588634.0,4842984.0,1
2,HY411489,0497,0,0,612,2015,41.748097,-87.662166,1,BATTERY,...,4712.66,4657.81,4683.91,4683.91,1.574720e+09,4677.13,254350.0,4588634.0,4842984.0,1
3,HY411606,0320,0,0,331,2015,41.766248,-87.575997,1,ROBBERY,...,4712.66,4657.81,4683.91,4683.91,1.574720e+09,4677.13,254350.0,4588634.0,4842984.0,1
4,HY411328,0560,0,1,421,2015,41.756330,-87.552716,1,ASSAULT,...,4712.66,4657.81,4683.91,4683.91,1.574720e+09,4677.13,254350.0,4588634.0,4842984.0,1

In [22]:
df1 = Crime2019_df[['Year','Latitude','Longitude']]
df2 = df1[df1['Year'] == 2020]
df2.head()

       Year   Latitude  Longitude
130    2020  41.923369 -87.731634
505    2020  41.860148 -87.712804
938    2020  41.707542 -87.565714
2117   2020  41.750972 -87.682871
10235  2020  41.882781 -87.707352

In [23]:
df3 = df2.dropna()

In [16]:
heatmap_layer = gmaps.heatmap_layer(df3[['Latitude','Longitude']])
fig = gmaps.figure()
fig.add_layer(heatmap_layer)
fig.add_layer(geojson_layer)
fig

NameError: name 'gmaps' is not defined

# Export reduced data to .csv

In [24]:
df3.to_csv(r'C:/Users\leiji\OneDrive - HKU\Desktop\Data Science Lab\DS Project\crime_coordinates2020.csv')

# Centroid of map

In [8]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key='AIzaSyAf78InaIO0UeRMhOOKpELH6cSKDUA6hwo')

chicago_coordinates = (41.881832, -87.623177)
gmaps.figure(center=chicago_coordinates, zoom_level=12)

Figure(layout=FigureLayout(height='420px'))